html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: "Bagle Fat One", system-ui;
  background-color: white;
  width: 100%;
  color: #333;
  line-height: 2;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto auto;
  grid-template-areas: "navbar" "topimg" "about" "store-photos" "support" "footer";
  gap: 40px;
}

/*Main Image*/
.main-img {
  grid-area: topimg;
  text-align: center;
  position: relative;
}

.about-img {
  width: 100%;
  height: auto;
} 

.main-img h1 {
  font-family: 'Bagel Fat One', cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 3px 3px #89c2eb;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.main a{
  color: black;
}

.main a:hover, .main a:focus{
  color: #5c47c4;
}
/*About section*/
.about{
  background-color: #e0dafd;
  grid-area: about;
  justify-self: center;
  text-align: center;
  padding: 1rem 3rem;
}

.about h2, .support h2{
  font-family: 'Sour Gummy', cursive;
  font-size: 2rem;
  color: #5c47c4;
}

/*Photo Cube*/
.photo-cube{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  grid-gap: 10px;
  background-color: #e4f8f9;
  padding: 3rem 8rem .5rem;
}
.store-img{
  width:100%;
  border-radius: 20px;
  box-shadow: 5px 8px 8px rgba(130, 185, 230, 0.2);
}

/*Support Section*/
.support{
  background-color:#2f9ca4;
  text-align: center;
  padding: 2rem 0 4rem;
}

.support h2{
  color: white;
}

.support a {
  background-color: #859be4; 
  color: white;
  text-decoration: none;
  font-family: 'Sour Gummy', cursive;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
  margin: 2rem;
}

.support a:hover, .support a:focus {
  background-color: #455fb2;
}

@media (min-width: 768px) {
  .main-img h1{
    font-size: 5rem;
  }
}
