html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  
}


body{
  font-family: "League Spartan", sans-serif;
  background-color: white;
  color: #333;
  line-height: 2;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas: "navbar" "photobanner" "main" "form" "footer"
}


.photobanner{
  grid-area: photobanner;
  margin: 40px 0;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.contents{
  grid-area: main;
}

.pginfo{
  background-color: #e0dafd;
  padding: 3%;
  border-radius: 25px;
  margin: 0 40px 40px;
}

.section{
  background-color: #e0dafd;
  padding: 3%;

  margin-bottom: 40px;
}

.catCrew{
  grid-area: form;
  background-color: #2f9ca4;
  border-radius: 25px;
  margin: 0 40px 100px;
  padding: 50px;
}
.catCrew h2{
  color: white;

}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: white;
}

.bsf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  margin-bottom: 80px;
  background-color: #e4f8f9;
  padding: 0 20px 20px;
}

.bsf form {
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgb(32, 27, 69);
  background-color: #2f9ca4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bsf fieldset {
  margin: 0;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #e4f8f9;
  border: none;
  border-radius: 20px;
  justify-content: center;
  color: #333;
}


.bsf label{
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: #333;
}

.bsf input[type="text"],
.bsf input[type="email"],
.bsf input[type="range"],
.bsf select {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 1rem;
}

.bsf input[type="radio"],
.bsf input[type="checkbox"] {
  margin-right: 8px;
}

.bsf input[type="submit"],
.bsf input[type="reset"],
.bsf form a {
  display: inline-block;
  padding: 20px 0;
  width: 50%;
  margin: 10px auto 0;
  background-color: #859be4;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.bsf input[type="submit"]:hover,
.bsf input[type="reset"]:hover,
.bsf form a:hover {
  background-color: #455fb2;
}


.maincontent{
  background-color: #e4f8f9;
  text-align: left;
  color: #333;
  padding: 3%;
  border-radius: 25px;
  margin-bottom: 100px;
}

.card {
  flex: 0 1 300px;
  padding: 20px;
  margin: 20px auto;
  background-color: #e4f8f9;
  color: #455fb2;
  border: 5px solid #455fb2;
  border-radius: 20px;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(4, 12, 19, 0.2);
}


.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.note{
  text-align: center;
}
img{
  width: 15rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 15px;
  padding-bottom: 10px;
}


input:checked {
  outline: 1px solid #455fb2;
}

h2{
  font-family: 'Sour Gummy', cursive;
  font-size: 2rem;
  color: #5c47c4;
}

/*
body color --> white
h1 color --> white w/ shadow #89c2eb
section color --> #e0dafd;
section2 color --> #2f9ca4;
h2 color: #5c47c4;
section3 color: #e4f8f9;
h3 color: #455fb2;
*/

h1{
  font-family: 'Bagel Fat One', cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 3px 3px #89c2eb;
}

/* All buttons */
.contents a{
  background-color: #a384f3; 
  color: white;
  text-decoration: none;
  font-family: 'Sour Gummy', cursive;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}

.contents a:hover, .contents a:focus {
  background-color: #7049b3;
}

.reservation a{
  background-color: #859be4;
}

.reservation a:hover, .reservation a:focus{
  background-color: #455fb2;
}


@media screen and (min-width: 768px) {

  h1{
    font-size: 5rem;
  }
  .gallery{
    display: flex;
    flex-flow: wrap;
  }

  .section{
    height: fit-content;
    align-self: center;
  }

  .bsf form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
  }

  .bsf fieldset {
    width: 45%;
    min-width: 300px;
    flex-grow: 1;
    background: #e4f8f9;
    padding: 20px;
    border-radius: 12px;
  }


  }