html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: "League Spartan", sans-serif;
  background-color: white;
  width: 100%;
  color: #333;
}

body p{
  font-size: 18px;
}

/* create grid container for layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: "navbar" "main" "updates" "footer";
  gap: 40px;
}

/* main faq and image section*/
main{
  grid-area: main;
  margin: 0 30px;
}

h1, h2, h3{
  font-family: 'Sour Gummy', cursive;
}

h1{
  font-size: 2rem;
  padding: 30px;
}

h2{
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3{
  margin: 10px 0 25px;
}

main img{
  width: 100%;
  height: auto;
  border-radius: 25px;
}

/* faq dropdown formatting questions and answers */
.faq_body{
  background-color: white;
  padding: 0 25px;
  margin: 0 30px 30px;
}

summary{
  background-color: #e0dafd;
  padding: 20px 30px;
  border-radius: 15px;
  margin: 15px 0px;
  font-family: "League Spartan", sans-serif;
  font-size: 1.23rem;
  transition: all 0.3s ease-in-out;
}

summary:hover, summary:focus{
  background-color: #c8bdfc;
}

details div{
  background-color: white;
  padding: 10px 20px;
  line-height: 2;
}


/* reservation question button format */
#reserve {
  background-color: #a384f3; 
  color: white;
  text-decoration: none;
  font-family: 'Sour Gummy', cursive;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  display: block;
  text-align: center;
  width: 200px;
  margin: 10px auto;
  
}

#reserve:hover, #reservation:focus {
  background-color: #7049b3;
}

/* updates aside area */
.updates{
  grid-area: updates;
  background-color: #dbfdff;
  padding: 25px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}



.updates p{
  margin-bottom: 30px;
  line-height: 2;
}


/* more help section */
.more{
  color: #2f9ca4;
  margin: 30px;
  padding: 25px;
  border: 3px solid #2f9ca4;
  border-radius: 25px;
}

.more a {
  color: #2f9ca4;
}


/* mobile first media query */
/* desktop view */
@media (min-width: 768px) {

  /* change position of update section to be next to main content area */
  .grid-container {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "navbar navbar" "updates main" "footer footer";
      column-gap: 3rem;
  }

  .updates{
    margin-left: 30px;
  }
}
