html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* css for rest of website (not navbar) */
body{
    font-family: "Bagle Fat One", system-ui;
    background-color: white;
    width: 100%;
    color: #333;
  }
  
.logo{
    height: 4rem;
    width: auto;
    padding: 20px;
}

  /* Main Image Section */
  .main-img {
    grid-area: main;
    text-align: center;
    position: relative;
  }
  
  .home-img {
    width: 100%;
    height: auto;
  } 
  .main-img h1 {
    font-family: 'Bagel Fat One', cursive;
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px #89c2eb;
    
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .main section{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: #e0dafd;
    border-radius: 25px;
  }

  .reservation{
    background-color:#2f9ca4;
    text-align: center;
    color: white;
    padding: 1rem;
  }
  
  .welcome h2, .important h2, .reservation h2 {
    font-family: 'Sour Gummy', cursive;
    font-size: 2rem;
    color: #5c47c4;
  }

  .reservation h2{
    color: white;
  }

  .reservation button{
    background-color: #859be4;
  }

  .reservation button:hover{
    background-color: #455fb2;
  }

  
  
  /* Info Cards */
  .info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
    background-color: #e4f8f9;
  }
  
  .info-cards div {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(134, 191, 237, 0.2);
    padding: 1.5rem;
    text-align: center;
  }
  
  .info-cards h3 {
    font-family: 'Sour Gummy', cursive;
    font-size: 1.5rem;
    color: #455fb2;
    margin-bottom: 1.5rem;
  }
  
  .info-cards img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 1rem;
  }
  
  .info-cards p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  

/* All buttons */
  button {
    background-color: #a384f3; 
    border: none;
    padding: 0.5rem 1.5rem;
    font-family: 'Sour Gummy', cursive;
    color: white;
    border-radius: 25px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7049b3;
  }
  
