html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: "Bagle Fat One", system-ui;
  background-color: white;
  width: 100%;
  color: #333;
}

body p{
  font-size: 1.2rem;
}

/* create grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: "navbar" "main" "updates" "footer";
  gap: 40px;
}

/* main faq and image section*/
main{
  grid-area: main;
  margin: 30px;
}

h1{
  font-family: 'Sour Gummy', cursive;
  font-size: 2rem;
  padding: 30px;
}

main img{
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.faq_body{
  background-color: white;
  padding: 0 25px;
  margin: 0 30px 30px;
}

summary{
  background-color: #e0dafd;
  padding: 20px 30px;
  border-radius: 15px;
  margin: 15px 0px;
  font-family: "Bagle Fat One", system-ui;
  font-size: 1.23rem;
  transition: all 0.3s ease-in-out;
}

summary:hover{
  background-color: #c8bdfc;
}

details div{
  background-color: white;
  padding: 10px 20px;
  line-height: 2;
}

button {
  background-color: #a384f3; 
  border: none;
  padding: 0.5rem 1.5rem;
  font-family: 'Sour Gummy', cursive;
  color: white;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  display: block;
  margin: 25px auto;
  }

button:hover {
  background-color: #7049b3;
}

/* updates sidebar area */
.updates{
  background-color: #dbfdff;
  grid-area: updates;
  padding: 25px;
  height: auto;
  border-radius: 25px;
}

h2{
  font-size: 2.5rem;
  font-family: 'Sour Gummy', cursive;
  padding-bottom: 10px;
}

h3{
  margin: 10px 0 25px;
}

.updates p{
  margin-bottom: 30px;
  line-height: 2;
}

.more{
  color: #2f9ca4;
  margin: 30px;
  padding: 25px;
  border: 3px solid #2f9ca4;
  border-radius: 25px;
}
/* mobile first media query */

@media (min-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "navbar navbar" "updates main" "footer footer";
      column-gap: 3rem;
  }

  .updates{
    margin-left: 30px;
  }
}
